AIRGAP_CLUSTER_NAME=gscloud-airgap
AIRGAP_BOOTSTRAP_NETWORK=gscloud-bootstrap
AIRGAP_RUNTIME_NETWORK=gscloud-runtime
JCR_EXTERNAL_HOST=jcr.localhost:5443
JCR_DOCKER_HOST=localhost:5443
JCR_INTERNAL_HOST=jcr-proxy:8443
JCR_DOCKER_REPOSITORY=docker-local
JCR_HELM_REPOSITORY=helm-local
RANCHER_HOSTNAME=rancher.localhost
MAPS_HOSTNAME=maps.localhost
QGIS_HOSTNAME=qgis.localhost
PGADMIN_HOSTNAME=pgadmin.localhost
PGADMIN_DEFAULT_EMAIL=admin@example.com
PLATFORM_NAMESPACE=platform-infra
GEOSERVER_NAMESPACE=gscloud
RANCHER_NAMESPACE=cattle-system
VIEWER_IMAGE_NAME=gscloud/viewer
VIEWER_IMAGE_TAG=0.1.0
QGIS_IMAGE_NAME=gscloud/qgis
QGIS_IMAGE_TAG=0.1.0
