CLUSTER_NAME=gscloud-rke2
HARBOR_HOSTNAME=harbor.airgap.local
HARBOR_PORT=5443
HARBOR_EXTERNAL_HOST=harbor.airgap.local:5443
HARBOR_INTERNAL_HOST=
HARBOR_IMAGE_PROJECT=airgap
HARBOR_CHART_PROJECT=charts
RANCHER_HOSTNAME=rancher.localhost
MAPS_HOSTNAME=maps.localhost
QGIS_HOSTNAME=qgis.localhost
PGADMIN_HOSTNAME=pgadmin.localhost
PGADMIN_DEFAULT_EMAIL=admin@example.com
PLATFORM_NAMESPACE=platform-infra
GEOSERVER_NAMESPACE=gscloud
RANCHER_NAMESPACE=cattle-system
VIEWER_IMAGE_NAME=gscloud/viewer
VIEWER_IMAGE_TAG=0.1.0
QGIS_IMAGE_NAME=gscloud/qgis
QGIS_IMAGE_TAG=0.1.0
PUBLISHER_IMAGE_NAME=gscloud/publisher
PUBLISHER_IMAGE_TAG=0.1.0
STAC_BROWSER_IMAGE_NAME=gscloud/stac-browser
STAC_BROWSER_IMAGE_TAG=0.1.0
